ServReesre7/resources/AcceptService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AcceptServiceWSDL" targetNamespace="http://sbrf.ru/ws/fraudmon/accept" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sbrf.ru/ws/fraudmon/accept" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://sbrf.ru/ws/fraudmon/accept" xmlns:tns="http://sbrf.ru/ws/fraudmon/accept" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="CheckResult">
				<xs:annotation>
					<xs:documentation>Cодержит информацию о результатах проверки </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ActionCode" type="tns:ActionCode">
						<xs:annotation>
							<xs:documentation>Рекомендуемое действие в соответствии со сработавшим правилом.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ErrorCode" type="xs:int">
						<xs:annotation>
							<xs:documentation>Код возникшей ошибки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ErrorDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>Описание возникшей ошибки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="UserStatus" type="tns:UserStatus"/>
					<xs:element minOccurs="0" name="File" type="xs:string">
						<xs:annotation>
							<xs:documentation>Путь к файлу, с ответами.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="UserStatus">
				<xs:annotation>
					<xs:documentation>Статус клиента во ФРОД-мониторинге.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="LOCKOUT"/>
					<xs:enumeration value="UNLOCKED"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="IdentificationData">
				<xs:annotation>
					<xs:documentation>Cодержит информацию, которая позволяет однозначно идентифицировать отправляемый запрос или получаемый ответ.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="RequestId" type="xs:string">
						<xs:annotation>
							<xs:documentation>Уникальное значение для каждого ответа, соответствующее запросу</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionId" type="xs:string">
						<xs:annotation>
							<xs:documentation>Идентификатор сессии  используется, например, для последующей работы с методом Challenge, Authenticate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeStamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Дата и время создания запроса</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionId" type="xs:string">
						<xs:annotation>
							<xs:documentation>Идентификатор транзакции используется, например, для последующей работы с методом Challenge, Authenticate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UserName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор клиента. СББОЛ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ActionCode">
				<xs:annotation>
					<xs:documentation>Рекомендуемое действие в соответствии со сработавшим правилом.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ALLOW"/>
					<xs:enumeration value="REVIEW"/>
					<xs:enumeration value="CHALLENGE"/>
					<xs:enumeration value="DENY"/>
					<xs:enumeration value="ERROR"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="Request" type="tns:Request"/>
			<xs:complexType name="Request">
				<xs:sequence>
					<xs:element name="CheckResult" type="tns:CheckResult">
						<xs:annotation>
							<xs:documentation>Cодержит информацию о результатах проверки .</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentificationData" type="tns:IdentificationData">
						<xs:annotation>
							<xs:documentation>Cодержит информацию, которая позволяет однозначно идентифицировать отправляемый запрос или получаемый ответ.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Response" type="tns:Response"/>
			<xs:complexType name="Response">
				<xs:sequence>
					<xs:element name="CheckResult" type="tns:CheckResult">
						<xs:annotation>
							<xs:documentation>Cодержит информацию о результатах проверки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentificationData" type="tns:IdentificationData">
						<xs:annotation>
							<xs:documentation>Cодержит информацию, которая позволяет однозначно идентифицировать отправляемый запрос или получаемый ответ.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="acceptRequest">
    <wsdl:part name="request" element="tns:Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptResponse">
    <wsdl:part name="response" element="tns:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="acceptPortType">
    <wsdl:operation name="accept">
      <wsdl:input name="Request" message="tns:acceptRequest">
    </wsdl:input>
      <wsdl:output name="Response" message="tns:acceptResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcceptSoapBinding" type="tns:acceptPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="accept">
      <soap:operation style="document"/>
      <wsdl:input name="Request">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcceptService">
    <wsdl:port name="acceptPort" binding="tns:AcceptSoapBinding">
      <soap:address location="http://localhost:8888/fraudmon/AcceptService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
